body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #020b1c;
  color: white;
}

.dashboard {
  padding: 30px;
}

.title {
  color: #00c2ff;
  margin-bottom: 30px;
}

.top-bar {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.top-bar input,
.top-bar select {
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #08152d;
  color: white;
  min-width: 180px;
}

.top-bar button {
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  background: #00c2ff;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.top-bar button:hover {
  opacity: 0.8;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  );
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  background: #08152d;
  padding: 25px;
  border-radius: 18px;
  text-align: center;
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  font-size: 40px;
  color: #00c2ff;
  font-weight: bold;
}

.charts-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(500px, 1fr)
  );
  gap: 20px;
  margin-bottom: 40px;
}

.chart-container {
  background: #08152d;
  padding: 20px;
  border-radius: 20px;
}

.section-title {
  margin-bottom: 20px;
}

.lead-title {
  margin-bottom: 20px;
}

.leads-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(280px, 1fr)
  );
  gap: 20px;
}

.lead-card {
  background: #08152d;
  padding: 20px;
  border-radius: 18px;
}

.lead-card h2 {
  color: #00c2ff;
}

.high-badge {
  background: #00e676;
  color: black;
  padding: 8px 12px;
  border-radius: 10px;
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
}

.medium-badge {
  background: #ffd54f;
  color: black;
  padding: 8px 12px;
  border-radius: 10px;
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
}

.low-badge {
  background: #ff5252;
  color: white;
  padding: 8px 12px;
  border-radius: 10px;
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
}
.pipeline-board {
  display: grid;
  grid-template-columns: repeat(
    4,
    1fr
  );
  gap: 20px;
  margin-top: 20px;
}

.pipeline-column {
  background: #08152d;
  padding: 15px;
  border-radius: 20px;
  min-height: 500px;
}

.pipeline-column h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #00c2ff;
}

.pipeline-card {
  background: #0d1f3c;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 15px;
}

.pipeline-card h4 {
  color: #00c2ff;
}

.pipeline-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 15px;
}

.pipeline-buttons button {
  padding: 8px 10px;
  border: none;
  border-radius: 10px;
  background: #00c2ff;
  color: white;
  cursor: pointer;
  font-size: 12px;
}

.pipeline-buttons button:hover {
  opacity: 0.8;
}
